.compendium {
    display: flex;
    flex-wrap: wrap;
    width:90%;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-bottom: 1rem;
}

.item {
    width: 2rem;
    height: 2rem;
    border: 1px solid #90eb80;
    text-align: center;
    padding: 1.5rem;
}
