.progress {
    background-color: whiteSmoke;
  
    width: 250px;
    
    position: relative;
    display: block;
  }
    
  .progress > span {
    display: block;
  }

  .hp {
      background-color:#eb9080;
  }

  .mp {
      background-color: #90eb80;
  }

  .abilities {
      margin-top: 10px;
      margin-bottom: 5px;
  }
  .abilities td {
    text-align:center;
  }

  .abilities th {
      padding-right: 10px;
  }
  .abilities caption {
      font-weight: bolder;
  }