.log {
    width: calc(100% - 4px);
    background-color: inherit;
    border: 1px solid palegreen;
    color: inherit;
    resize: none;
}

.entry {
    background-color: inherit;
    color: inherit;
    border: none;
    width: calc(100% - 1em);
}

.container {
    border: 1px solid palegreen;
    width: 100%;
}