html, .panel {
    color: #90eb80;
    background-color: #212121;
}
html {
    cursor:default;
}

.flow {
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
}

.panel-content {
    padding-top: 0.5rem;
    padding-left: 1rem;
}
.panel {
    overflow-x: hidden !important;
}